<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="/">
    </a>
    <%if (username){%>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a id="my_games_link" class="nav-link" href="/games/<%=username%>">My Games</a>
      </li>
      <li class="nav-item">
        <a id="user_details_link" class="nav-link" href="/users/<%=username%>">Account Details</a>
      </li>
    <%}%>
    </ul>
  </div>
</nav>