body {
  background-color: #ffffff;
  font-size: 18px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

h1 {
  background-color: #f4e4e2;
  text-align: center;
}

button {
  background-color: #F5B7B1;
  font-size: 12px;
  border-radius: 6px;
  border: 2px solid #f3a9a1;
  padding: 7px 12px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  background-color: rgb(251, 147, 115);
  margin: auto;
  width: 50%;
}

table, th, td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

tr:hover {
  background-color: #ccfff8;
}

a {
  color: #000080;
}

a:hover {
  color: #00ccb1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 50%;
  text-align: center;
}

.reserved{
  border: 5px solid #c30000;
}

.login {
	min-height: 100vh;
  }
  
  .bg-image {
	width: 45%;
	background-image: url('https://i.ebayimg.com/images/g/O-MAAOSwuali8rQ0/s-l1200.webp');
	background-size: cover;
	background-position: center;
  }
  
  .login-heading {
	font-weight: 400;
  }
  
  .btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
  }