.login {
	min-height: 100vh;
  }
  
  .bg-image {
	width: 45%;
	background-image: url('https://i.ebayimg.com/images/g/O-MAAOSwuali8rQ0/s-l1200.webp');
	background-size: cover;
	background-position: center;
  }
  
  .login-heading {
	font-weight: 400;
  }
  
  .btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
  }
